.app-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .app-container {
    margin-top: 96px;
  }
}

.comments-app-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .comments-app-container {
    width: 80%;
    max-width: 1140px;
  }
}

.app-heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #1e293b;
  font-weight: bold;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .app-heading {
    font-size: 50px;
    margin-bottom: 24px;
  }
}

.comments-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .comments-inputs-container {
    flex-direction: row;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 30%;
    min-width: 350px;
    order: 0;
  }
}

.form-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #334155;
  font-weight: 500;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .form-description {
    font-size: 18px;
  }
}

.form-input {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin-bottom: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
}

.form-textarea {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.form-add-comment-button {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ffffff;
  background-color: #0ea5e9;
  border-radius: 5px;
  border: none;
  align-self: flex-start;
  min-width: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 15px;
  outline: none;
  cursor: pointer;
}

.comments-image {
  width: 280px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .comments-image {
    width: 400px;
    height: 320px;
  }
}

.horizontal-line {
  border: 1px solid #dee0e3;
  width: 100%;
  margin-top: 15px;
}

.comments-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #475569;
}

.comments-count {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  background-color: #0284c7;
  text-align: center;
  border-radius: 4px;
  color: #dee0e3;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}

.comments-text {
  font-family: 'Roboto';
  font-size: 18px;
  color: #7e858e;
  font-weight: 500;
  padding-left: 6px;
}

.comments-list {
  padding-left: 0px;
  margin-top: 0px;
}
